.main {
  width: 100%;
  z-index: 1;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 163px;

  .multicolumns {
      width: 100%;
      display: flex;
      &__field {
          // position: relative;
          display: flex;
          height: 60px;
          width: 100%;
          border-top: 1px solid grey;
          border-left: 1px solid black;
      }
      &__line {
            position: relative;
            width: 100%;
        
      }
  }
  .columnHour {
      display: flex;
      flex-direction: column;
      color: #70757a;
      min-height: 60px;
      width: 55px;
      padding: 0;
      margin: 0;
      flex-flow: row-reverse;
  }
  .columnHour:first-child {
      margin-top: 50px;
  }
  .myEvent {
      width: 200px;
      height: 200px;
      background-color: red;
  }
}

.redline {
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: red;
  top: 0px;
  left: 0;
  z-index: 20;
  &__ball {
      position: relative;
      bottom: 6px;
      right: 6px;
      height: 12px;
      width: 12px;
      border-radius: 100%;
      background-color: red
  }
}


.event {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 5px;
    // height: 60px;
    width: 90%;
    border-radius: 5px;
    color: #fff;
    background-color: #2979ff;
    cursor: pointer;
    border-color: black;
    overflow: auto;
    text-overflow: ellipsis;
    color: #fff;
    transition: 1s;
    animation: show 0.5s 1;
    animation-fill-mode: forwards;
    z-index: 10;
   
}

.popupDelete {
    display: flex;
    height: 800px;
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    &-form {
        min-height: 60px;
        min-width: 50px;
        position: relative;
        border: 1px solid #26a69a;
        border-radius: 12px;
        box-shadow: 1px 1px 10px #c0c0c0;
        background: #fff;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        margin: auto;
        overflow: hidden;
        padding: 20px;
        &__title {
            margin-top: 20px !important;
            width: 80%;
        }
        &__description {
            width: 80%;
        }
        .main {
            display: flex;
            flex-direction: column;
            &-dataStart {
                width: 50%;
            }
            &-dataEnd {
                width: 50%;
            }
        }
    }
    .close {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 0px;
        top: 0px;
        font-size: 5px;
    }
    .submit {
        background-color: #2979ff blue accent-3;
        margin-top: 15px;
        display: flex;
        margin-left: auto;
        height: 40px;
    }
  }